<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yh.yhwy.dao.SecuinfoMapper">
  <resultMap id="BaseResultMap" type="yh.yhwy.bean.Secuinfo">
    <result column="staf_id" jdbcType="INTEGER" property="stafId" />
    <result column="Secutime" jdbcType="LONGVARCHAR" property="secutime" />
  </resultMap>
  <resultMap id="WithNameResultMap" type="yh.yhwy.bean.Secuinfo">
    <result column="staf_id" jdbcType="INTEGER" property="stafId" />
    <result column="Secutime" jdbcType="LONGVARCHAR" property="secutime" />
    <association property="staff" javaType="yh.yhwy.bean.Staff">
      <id column="stafid" jdbcType="INTEGER" property="stafid" />
      <result column="stafName" jdbcType="VARCHAR" property="stafName" />
      <result column="stafsex" jdbcType="VARCHAR" property="stafsex" />
      <result column="stafAge" jdbcType="INTEGER" property="stafAge" />
      <result column="part_id" jdbcType="INTEGER" property="partId" />
    </association>
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="yh.yhwy.bean.Secuinfo">
    <result column="Secutime" jdbcType="LONGVARCHAR" property="secutime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    staf_id,Secutime
  </sql>
  <sql id="WithNameColumn_List">
    i.staf_id, s.stafName, i.Secutime
  </sql>
  <sql id="Blob_Column_List">
    Secutime
  </sql>
  <select id="selectByExampleWithName" resultMap="WithNameResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithNameColumn_List" />
    from secuinfo i left join staff s on i.staf_id=s.stafid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByTime" parameterType="java.lang.Integer" resultMap="WithNameResultMap">
    select
    <include refid="WithNameColumn_List" />
    from secuinfo i left join staff s on i.staf_id=s.stafid
    where secuTime = #{secutime,jdbcType=LONGVARCHAR}
  </select>
  <select id="selectByName" parameterType="java.lang.Integer" resultMap="WithNameResultMap">
    select
    <include refid="WithNameColumn_List" />
    from secuinfo i left join staff s on i.staf_id=s.stafid
    where s.stafName = #{stafName,jdbcType=VARCHAR}
  </select>
  <select id="selectByExample" parameterType="yh.yhwy.bean.SecuinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from secuinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithBLOBs" parameterType="yh.yhwy.bean.SecuinfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from secuinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKeyWithName" parameterType="java.lang.Integer" resultMap="WithNameResultMap">
    select
    <include refid="WithNameColumn_List" />
    from secuinfo i left join staff s on i.staf_id=s.stafid
    where staf_id = #{stafId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKeyWithName" parameterType="java.lang.Integer">
    delete from secuinfo
    where staf_id = #{stafId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="yh.yhwy.bean.SecuinfoExample">
    delete from secuinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yh.yhwy.bean.Secuinfo">
    insert into secuinfo (staf_id, Secutime)
    values (#{stafId,jdbcType=INTEGER}, #{secutime,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yh.yhwy.bean.Secuinfo">
    insert into secuinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stafId != null">
        staf_id,
      </if>
      <if test="secutime != null">
        Secutime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stafId != null">
        #{stafId,jdbcType=INTEGER},
      </if>
      <if test="secutime != null">
        #{secutime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yh.yhwy.bean.SecuinfoExample" resultType="java.lang.Long">
    select count(*) from secuinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update secuinfo
    <set>
      <if test="record.stafId != null">
        staf_id = #{record.stafId,jdbcType=INTEGER},
      </if>
      <if test="record.secutime != null">
        Secutime = #{record.secutime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update secuinfo
    set staf_id = #{record.stafId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yh.yhwy.bean.Secuinfo">
    update secuinfo
    <set>
      <if test="secutime != null">
        Secutime = #{secutime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where staf_id = #{stafId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithName" parameterType="yh.yhwy.bean.Secuinfo">
    update secuinfo
    set Secutime = #{secutime,jdbcType=LONGVARCHAR}
    where staf_id = #{stafId,jdbcType=INTEGER}
  </update>
</mapper>